:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  min-width: 600px;
}

section {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 0;
  border-radius: 0.25rem;
  background: green;
  color: #fff;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="text"],
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #0a0a0a;
  color: #ededed;
  border: 1px solid darkgrey;
  border-radius: 0.25rem;
}
