.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.main {
  background-color: var(--foreground);
  padding: 120px 600px;
}

button.primary,
a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

button.secondary,
a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button.primary:hover,
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  button.secondary:hover,
  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}
